.sidebar{
    position: fixed;
    width: 200px;
    top : 100px;
}
.topbar{
    position: absolute;
    height: 100px;
    
}

.icon{
    width: 100px;
    height: 100px;
}

.CollapseBtn{
    width: 200px;
}

.topbar img{
    position: relative;
    left:200px;
    width: 300px;
  
}