
.topbar{
    height: 100px;
}
.icon{
    width: 100px;
    height: 100px;
}

.CollapseBtn{
    width: 200px;
}

.topbar img{
    position: relative;
    top: -50px;
    width: 200px;
    height: 200px;
  
}