

.content{
    
    width: auto;
    margin: 5% auto;

}

.login-content{
    box-shadow: 0,0,5px;
    background: rgba(230,230,250,0.7);
    padding: 20px;
    border-radius: 5%;
}
.login-btn{
    width:100%;

    margin: 2px auto;
}